@use "./colors" as *;

:export {
  primary: $primary;
  onPrimary: $on-primary;
  primaryContainer: $primary-container;
  onPrimaryContainer: $on-primary-container;

  secondary: $secondary;
  onSecondary: $on-secondary;
  secondaryContainer: $secondary-container;
  onSecondaryContainer: $on-secondary-container;

  tertiary: $tertiary;
  onTertiary: $on-tertiary;
  tertiaryContainer: $tertiary-container;
  onTertiaryContainer: $on-tertiary-container;

  error: $error;
  onError: $on-error;
  errorContainer: $error-container;
  onErrorContainer: $on-error-container;

  background: $background;
  onBackground: $on-background;

  surface: $surface;
  onSurface: $on-surface;

  surfaceVariant: $surface-variant;
  onSurfaceVariant: $on-surface-variant;

  outline: $outline;
  outlineVariant: $outline-variant;
}
