$states: (
  "hover-opacity": 0.08,
  "focus-opacity": 0.12,
  "pressed-opacity": 0.8,
  "dragged-opacity": 0.16,
  "selected-opacity": 0.12,
  "activated-opacity": 0.12,
  "divider-opacity": 1,
);
$breakpoints-xs: 0;
$breakpoints-sm: 600px;
$breakpoints-md: 960px;
$breakpoints-lg: 1280px;
$breakpoints-xl: 1920px;