.v-toolbar {
  &--mediakiwi {
    &.v-toolbar--sticky {
      position: sticky;
      top: 80px;
      z-index: 10;
      background-color: rgb(var(--v-theme-background));
    }

    .v-toolbar__content {
      padding: 0 32px 0 16px;

      > .v-toolbar-title {
        margin-left: 16px;
      }
    }
  }
}
