
@use "@/styles/abstracts";
.v-breadcrumbs--mediakiwi {
    justify-content: flex-start;

    .v-btn {
      @include abstracts.typography("title", "large");

      &:not(.v-btn--active) {
        font-weight: 400;
        padding-left: 0;
      }
      &.v-btn--active {
        opacity: 1;
      }
    }

    .v-breadcrumbs-divider {
      padding: 0;

      .v-icon {
        font-size: 1.5em; // 16px * 1.5 = 24px
      }
    }
}
.v-breadcrumbs--sticky {
    position: sticky;
    top: 0;
    z-index: 1003;
}