.v-toolbar {
    &--mediakiwi {
        &.v-toolbar--sticky {
            position: sticky;
            top: 80px;
            z-index: 10;
            background-color: rgb(var(--v-theme-background));
          }
        .v-toolbar__content {
            > .v-toolbar-title {
                margin-left: 16px;
            }
        }
    }
}