.v-toolbar {
    &--mediakiwi {
        &.v-toolbar--sticky {
            position: sticky;
            top: 0;
            z-index: 1;
          }
        .v-toolbar__content {
            > .v-toolbar-title {
                margin-left: 16px;
            }
        }
    }
}