/* stylelint-disable selector-class-pattern */
@use "sass:map";
@use "@/styles/abstracts";

// Vuetify uses the css variable inside its mapping for some elements, so chaching the mapping work
.v-theme--dark,
.v-theme--light {
  // states
  --v-hover-opacity: #{map.get(abstracts.$states, "hover")} !important;
  --v-focus-opacity: #{map.get(abstracts.$states, "focus")} !important;
  --v-pressed-opacity: #{map.get(abstracts.$states, "pressed")} !important;
  --v-dragged-opacity: #{map.get(abstracts.$states, "dragged")} !important;
  --v-selected-opacity: #{map.get(abstracts.$states, "selected")} !important;
  --v-activated-opacity: #{map.get(abstracts.$states, "activated")} !important;
}
