// primary
$primary: #6750a4;
$on-primary: #ffffff;
$primary-container: #eaddff;
$on-primary-container: #21005d;

// secondary
$secondary: #625b71;
$on-secondary: #ffffff;
$secondary-container: #e8def8;
$on-secondary-container: #1d192b;

// tertiary
$tertiary: #7d5260;
$on-tertiary: #ffffff;
$tertiary-container: #ffd8e4;
$on-tertiary-container: #31111d;

// error
$error: #b3261e;
$on-error: #ffffff;
$error-container: #f9dedc;
$on-error-container: #410e0b;

// Background
$background: #fffbfe;
$on-background: #1c1b1f;

// surface
$surface: #fffbfe;
$on-surface: #1c1b1f;

// surface variants
$surface-variant: #e7e0ec;
$on-surface-variant: #49454f;

// outline
$outline: #79747e;
$outline-variant: #cac4d0;
