@use "sass:map";

$colors: (
  primary: (
    primary: #ff00ff,
    onPrimary: #ff00ff,
    primaryContainer: #ff00ff,
    onPrimaryContainer: #ff00ff,
  ),
  secondary: (
    secondary: #ff00ff,
    onSecondary: #ff00ff,
    secondaryContainer: #ff00ff,
    onSecondaryContainer: #ff00ff,
  ),
  tertiary: (
    tertiary: #ff00ff,
    onTertiary: #ff00ff,
    tertiaryContainer: #ff00ff,
    onTertiaryContainer: #ff00ff,
  ),
  error: (
    error: #ff00ff,
    onError: #ff00ff,
    errorContainer: #ff00ff,
    onErrorContainer: #ff00ff,
  ),
  background: (
    background: #ff00ff,
    onBackground: #ff00ff,
  ),
  surface: (
    surface: #000,
    onSurface: #ff00ff,
  ),
  surfaceVariants: (
    surfaceVariant: #ff00ff,
    onSurfaceVariant: #ff00ff,
  ),
  outline: (
    outline: #ff00ff,
    outlineVariant: #ff00ff,
  ),
);
