@use "sass:map" as map;
@use "sass:color" as color;

$primary-colors: () !default;
$primary-colors: map.deep-merge(
  (
    "primary": #6750a4,
    "on-primary": #fff,
    "primary-container": #eaddff,
    "on-primary-container": #21005d,
  ),
  $primary-colors
);

$secondary-colors: () !default;
$secondary-colors: map.deep-merge(
  (
    "secondary": #625b71,
    "on-secondary": #fff,
    "secondary-container": #e8def8,
    "on-secondary-container": #1d192b,
  ),
  $secondary-colors
);

$tertiary-colors: () !default;
$tertiary-colors: map.deep-merge(
  (
    "tertiary": #7d5260,
    "on-tertiary": #fff,
    "tertiary-container": #ffd8e4,
    "on-tertiary-container": #31111d,
  ),
  $tertiary-colors
);

$error-colors: () !default;
$error-colors: map.deep-merge(
  (
    "error": #b3261e,
    "on-error": #fff,
    "error-container": #f9dedc,
    "on-error-container": #410e0b,
  ),
  $error-colors
);

$background-colors: () !default;
$background-colors: map.deep-merge(
  (
    "background": #fffbfe,
    "on-background": #1c1b1f,
  ),
  $background-colors
);

$surface-colors: () !default;
$surface-colors: map.deep-merge(
  (
    "surface": #fffbfe,
    "on-surface": #1c1b1f,
  ),
  $surface-colors
);

$surface-variant-colors: () !default;
$surface-variant-colors: map.deep-merge(
  (
    "surface-variant": #e7e0ec,
    "on-surface-variant": #49454f,
  ),
  $surface-variant-colors
);

$outline-colors: () !default;
$outline-colors: map.deep-merge(
  (
    "outline": #79747e,
    "outline-variant": #cac4d0,
  ),
  $outline-colors
);

$colors: () !default;
$colors: map.deep-merge($colors, $primary-colors);
$colors: map.deep-merge($colors, $secondary-colors);
$colors: map.deep-merge($colors, $tertiary-colors);
$colors: map.deep-merge($colors, $error-colors);
$colors: map.deep-merge($colors, $background-colors);
$colors: map.deep-merge($colors, $surface-colors);
$colors: map.deep-merge($colors, $surface-variant-colors);
$colors: map.deep-merge($colors, $outline-colors);

$surfaces: (
  "surface-variant-1": #ebe2f1,
  "surface-variant-2": #ede5f3,
  "surface-variant-3": #eee7f5,
  "surface-variant-4": #f3ecf7,
  "surface-variant-5": #f7f2f9,
);
