@use "vuetify/settings" with (
    $file-input-chip-margin-inline-end: 8px,
    $file-input-details-padding-inline: 20px,
    $file-input-chips-margin-bottom: 6px,
    $file-input-chips-margin-top: 6px,
);