.v-input {
  &.v-checkbox--mediakiwi {
    .v-checkbox-btn:has(input[aria-checked="mixed"]) {
      color: rgb(var(--v-theme-primary)) !important;
    }

    .v-checkbox-btn {
      color: rgb(var(--v-theme-on-surface-variant)) !important;
    }

    .v-selection-control {
      &--disabled {
        opacity: 0.2 !important;
      }
    }
  }
}
