@use "../../abstracts";

.v-breadcrumbs--mediakiwi {
  justify-content: flex-start;
  transform: translateX(abstracts.$button-padding-x * -1);

  .v-btn {
    @include abstracts.typography("title", "large");

    &:not(.v-btn--active) {
      font-weight: 400;
    }

    &.v-btn--active {
      opacity: 1;
    }
  }

  .v-breadcrumbs-divider {
    padding: 0;

    .v-icon {
      font-size: 1.5em; // 16px * 1.5 = 24px
    }
  }
}
