.v-navigation-drawer {
  &__content {
    .v-list {
      .v-list-item {
        &--active {
          background: rgb(var(--v-theme-secondary-container));
          color: rgb(var(--v-theme-on-secondary-container));
        }
      }
    }
  }
}

.v-navigation-rail {
  &--mediakiwi {
    .v-list {
      .v-list-item {
        &__prepend {
          .v-list-item__spacer {
            width: auto;
          }
        }
      }
    }
  }
}
